:root {
    --darkBlue: hsl(240,38%,20%);
    --grayishBlue: hsl(240, 18%,77%);
}

body {
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    font-weight: 0.1rem;
    background-image: url("images/pattern-bg.svg");
    background-repeat: no-repeat;
    background-attachment: relative;
    background-position: 86% 34.5%;
    background-size: 46.9%;  
}


.review { 
   margin-top: 10rem;
   font-weight:300;
   font-size: 26px;
   position: relative;
   left: 50px;  
   color: var(--darkBlue);
   margin-left: 9rem;
}
   
.review img {
    height: 5rem;
    position: relative;
    left: 4rem; 
    top: 3rem; 
}

#slideone {
    height: 690px;
    display: flex;
    justify-content: space-between;

}


.img {
    border: solid;
    border-color: black;
    height: 15rem;
}

.photo {
  
    align-items: flex-end;  
    margin-right:5rem;
    border-radius:7px;
    box-shadow: 7px 15px 12px rgba(0, 0, 0, 0.3 ); 
    height:470px;
    margin-top: 6rem;
    width:450px;
}

.photo img {
    height: 470px;
    width: 450px;
}


#slideone #curve {
    height: 20vh;
    margin: 0px;
    position: absolute;
    margin-top:575px;  
    width: 85vh;

}

.name {
    width:7rem; 
    font-size:0.9rem;  
    font-weight: bold;
    margin-right: 0;
}

.job {
  width:12rem; 
    font-size:0.9rem;
    color: #bbbbbb;
}
   

.review .details {
    display:flex;
    justify-content: flex-start;
   margin-left: 14rem;
   margin-top: 0rem;

}
.buttons {
    height: 1rem;
    width:9rem;
    position: relative;
    right: 480px;
    top: 535px; 
    display:flex;
    justify-content: space-evenly; 
    padding: 15px 10px;
    background-color: white;
    border-radius: 50px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}


.buttons img {
    cursor: pointer;
    padding: 2px 13px 3px 13px;
    height:1rem;
}



@media (max-width: 800px) {
    body {
        background-position: 67% 16% ;
    }
    
    .review{
        text-align: center;
        font-size: 1rem;
        margin-top: 22.5rem;
        margin-right:15rem;
        margin-left: 13rem;
        

    }
   
    .photo{
         height: 270px;
         width:270px;
         position:absolute;
         left: 40vh;

        
        
    }
    .photo img {
        height: 270px;
        width:270px;
        position:absolute;
    }
    
#slideone #curve {
 height:7rem;
 width: 30rem;
          
}
  .review img{
       height: 3rem;
       left:5%;
       top:13%
   }
   .buttons {
    position:absolute;
    left: 50%;
    top:50%;
    width: 4rem;
          
   }

}



 /*.attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
